:root {
  --plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --petit-formal-script: 'Petit Formal Script', sans-serif;
}

/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default spacing from html/body */
html, body {
  margin: 0;
  padding: 0;
  border: none;
}

p {
  font-family: var(--plus-jakarta-sans);
  font-weight: 200;
  font-size: clamp(18px, 1.5vw, 30px);
}

h1 {
  font-family: var(--plus-jakarta-sans);
  font-weight: 300;
  font-size: clamp(50px, 4.1vw, 90px);
}

h2 {
  font-family: var(--petit-formal-script);
  font-weight: 400;
  font-size: clamp(50px, 4.1vw, 90px);
  color: #7E8F6D;
}

h3 {
  font-family: var(--plus-jakarta-sans);
  font-weight: 200;
  font-size: clamp(19px, 1.8vw, 37px);
}

h4 {
  font-family: var(--plus-jakarta-sans);
  font-weight: 200;
  font-size: clamp(19px, 2.4vw, 37px);
}